# Ignore build output
build/
bin/

*.exe
*.pdb
*.ilk
*.obj
*.tlog/
*.log
*.cache
*.sln
*.vcxproj
*.vcxproj.filters
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.recipe
*.yaml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore user/editor files
*.swp
*.swo
*.vscode/
